@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}

.header-container {
  display: flex;
  border: 1px solid;
  border-color: #eceded;
  height: 97px;
}

.letter-container {
  margin: 21px 0px 20px 27px;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0%;
  display: flex;
}

.letter-p {
  color: #3d8493;
}

.letter-o {
  color: #d89f65;
}

.letter-s {
  color: #4a5c2f;
}

.search-bar {
  background-color: #ecf3f5;
  border: none;
  width: 357px;
  height: 58px;
  border-radius: 10px;
  margin: 21px 0px 20px 109px;
}

input::placeholder {
  padding: 20px 129px 19px 25px;
  color: #89928e;
}

.search-bar:hover {
  background-color: #b1ced4;
}

.date-bar {
  max-width: 1029px;
  border: none;
  display: flex;
}

.date-bar img {
  display: flex;
  width: 16px;
  height: 18px;
  position: relative;
  top: 40px;
  left: 440px;
  margin-right: 7px;
}

.date {
  position: relative;
  top: 40px;
  left: 440px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0%;
  color: #000000;
}

.button {
  border: none;
  background-color: #b1ced4;
  border-radius: 10px;
  width: 175px;
  height: 58px;
  margin-left: 460px;
  margin-top: 20px;
  margin-bottom: 38px;
}

.table-btn {
  font-size: 16px;
  font-weight: 500;
  color: #2c3832;
  justify-content: center;
  text-align: center;
  letter-spacing: 0%;
  width: 86px;
  height: 20px;
}

.plus {
  justify-items: center;
  border: 2.5px solid;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 16px;
  color: #2c3832;
  padding-bottom: 2px;
  line-height: 0.8;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  background-color: #98c9de;
}
